@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    font-size: 20px;
}

/*header*/

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 12vh;
}

.imgiconos{
    margin: 0 3vh;
}

.header2{
    display: flex;
}

.megasale{
    width: 100%;
}

/*main*/

h3{
    font-size: 22px;
    margin: 2vh 0;
}

.produtos{
    font-size: 18px;
}
.promoção{
    display: flex;
    justify-content: space-between;
    padding: 4vh 12vh;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin: 4vw;
}

.imgcard:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05); 
    transform: rotate(-1.2deg) scaleY(1.05);
    transition: 0.6s ease-out;
    filter: brightness(0.9);
}

.resaltado{
    color: #5CA720;
    text-decoration: underline;
}

button{
    background-color: #5CA720;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2.5vh;
}

button:hover{
    background-color: #512200;
}

/*footer*/

.informação{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 0 12vh;
}


.vectores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 12vh;
}

.cartões{
    display: flex;
    align-items: center;
}

.imgfooter{
    margin: 0 3vh;
}

/*arreglar:
responsividad
*/
